{% extends 'base.html' %}
{% load static %}
{% block title %}TY for Subscription{% endblock %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <br>
            <h1 class="display-4 fw-bolder mt-5">Email Confirmation</Details>
            </h1>
            <p class="lead fw-normal text-white-40 mb-2">TY for your Subscription</p>
        </div>
    </div>
</header>

<section class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">
    <div class="d-flex justify-content-center align-items-center"
        style="min-height: calc(50vh); padding: 2rem;">
        <div class="steps--background-white rounded p-4 text-center" style="max-width: 600px; width: 100%;">
            <div class=" card shadow-lg rounded-0 mb-3 p-3">
                <h2 class="mb-4">Thank You</h2>
                <h3 class="mb-4"><strong>For Subscribing</strong></h3>
                <strong><a href="/" class="btn btn-secondary">Return to homepage</a></strong>
            </div>
        </div>
    </div>
</section>
{% endblock %}