{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <br>
            <h1 class="display-4 fw-bolder mt-5">General Conditions</h1>
            <p class="lead fw-normal text-white-40 mb-2">General Terms and Conditions</p>
        </div>
    </div>
</header>

<div class="container d-flex justify-content-center align-items-center mt-3 mb-3" style="min-height: calc(60vh);">
    <div class="card shadow-lg rounded-0 mb-3 p-3" style="width: 700px;">
        <h2 class="text-center mb-3"><strong>General Terms and Conditions</strong></h2>
        <h4 class="mt-3"><strong>Price:</strong></h4>
        <p>All prices of the articles are inclusive of VAT, and exclusive of shipping costs. The shipping costs are indicated separately in the shopping cart when ordering.</p>
        <h4 class="mt-3"><strong>Member Discount:</strong></h4>
        <p>Members of Volkssterrenwacht Urania vzw are entitled to a 10% discount on all products from the Astroshop, with the exception of optics. The member discount cannot be combined with other discounts or sales on products. If a member wishes to enjoy this discount, he must contact the Astroshop. Schools and teachers can also enjoy the member discount.</p>
        <h4 class="mt-3"><strong>Right of Withdrawal and Return:</strong></h4>
        <p>
            The customer has the right to inform Urania Diensten that he is withdrawing from the purchase, without having to pay a fine and without having to give a reason, within 14 days from the day following the delivery of the product up to a value of 1000 euros. To do this, he must contact a person responsible for the Astroshop by telephone, registered letter or in person. Returning goods that have already been delivered can be done, after agreement with the responsible person, at the expense of Urania Diensten. The customer can also return the goods during opening hours to the Astroshop itself. The goods must be returned in perfect condition and in the original packaging. For copyable media such as software or books, only articles that are still in an unopened packaging will be accepted. If all these conditions are met, the amounts already paid will be refunded.
        </p>
        <h4 class="mt-3"><strong>Delivery:</strong></h4>
        <p>
            The products will be delivered after receipt of payment. If the products cannot be delivered within 4 weeks, unless otherwise agreed with the customer, the customer can cancel his order after which his payment will be refunded. The customer can choose to have the articles delivered to his home by post or courier (depending on the nature of the article). All shipments are carried out at the customer's risk. The customer can also choose to collect the goods during opening hours from the Astroshop itself, after being informed of the availability of the goods. The choice between both options must be made during the order itself.
        </p>
        <h4 class="mt-3"><strong>Payment:</strong></h4>
        <p>Payment is expected within 7 days after ordering. The goods will only be shipped when payment has been received.</p>
        <h4 class="mt-3"><strong>Disputes:</strong></h4>
        <p>
            In the event of disputes, the courts of Antwerp have jurisdiction.
            Information about alternative dispute resolution can be found via this link:
            <a href="http://ec.europa.eu/odc/" target="_blank">http://ec.europa.eu/odc/</a>, but we reserve the right to submit disputes exclusively to the courts.
        </p>
        <h4 class="mt-3"><strong>Details:</strong></h4>
        <p>
            Urania Diensten vzw, Jozef Mattheessensstraat 60, 2540 Hove, +32 (0)3/455.24.93, 
            <a href="mailto:info@astroshopurania.be">info@astroshopurania.be</a>, VAT number: BE 0454.813.796 
            account number: 320-0526841-07, IBAN: BE74 3200 5268 4107, BIC: BBRUBEBB,
        </p>
        <h4 class="mt-3"><strong>Opening Hours:</strong></h4>
        <p>
            Tuesday and Friday 7:30 pm - 10:00 pm and Wednesday from 2 pm to 4 pm.
            A visit to the Astroshop at another time is possible by appointment via GSM 0475/29.11.31.
        </p>
        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'home' %}" class="btn btn-secondary">Back To Home</a>
        </div>
    </div>
</div>

{% endblock %}
