{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Astro Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ecommerce application astronomical goodies">
    <meta name="author" content="Filip Van Elslande">
    <link rel="icon" type="image/x-icon"
        href="https://res.cloudinary.com/dtbji5cfz/image/upload/v1732213214/favicon_dingdt.ico">
    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- Header-->
    <header class="bg-dark">
        <div class="ml-3">
            <ul class="list-inline list-unstyled d-flex justify-content-end my-0">
                <li class="list-inline-item dropdown">
                    <div class="bg-dark">
                        <a class="text-white nav-link-index" href="#" id="user-options" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center" style="font-size: 0.8rem;">
                                <div><i class="fas fa-user fa-sm"></i></div>
                                <p class="my-0 small">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu rounded-0 border-1 p-1" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'update_user_profile' %}" class="dropdown-item small">My Profile</a>
                            <a href="{% url 'update_ship_profile' %}" class="dropdown-item small">My Shipping</a>
                            <a href="{% url 'update_payment_paypal' %}" class="dropdown-item small">My Payment</a>
                            {% if not request.user.is_superuser %}
                            <a href="{% url 'orders' %}" class="dropdown-item small">My Orders</a>
                            {% endif %}
                            <a href="{% url 'update_user' %}" class="dropdown-item small">User Account</a>
                            <a href="{% url 'update_password' %}" class="dropdown-item small">Change Password</a>
                            <hr class="dropdown-divider my-1" />
                            <a href="{% url 'logout' %}" class="dropdown-item small">Logout</a>
                            {% if request.user.is_superuser %}
                            <hr class="dropdown-divider my-1" />
                            <a href="{% url 'add_product' %}" class="dropdown-item small">Add a New Product</a>
                            <hr class="dropdown-divider my-1" />
                            <a href="{% url 'suppliers_list' %}" class="dropdown-item small">Suppliers List</a>
                            <a href="{% url 'orders' %}" class="dropdown-item small">View Orders</a>
                            <a href="{% url 'shipped_dash' %}" class="dropdown-item small">Shipped Orders</a>
                            <a href="{% url 'not_shipped_dash' %}" class="dropdown-item small">UnShipped Orders</a>
                            {% endif %}
                            {% else %}
                            <a href="{% url 'register' %}" class="dropdown-item small">Register</a>
                            <a href="{% url 'login' %}" class="dropdown-item small">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="bg-dark mr-3">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link-index"
                            href="{% url 'shopcart_summary' %}">
                            <div class="text-center" style="font-size: 0.8rem;">
                                <div><i class="fas fa-cart-shopping fa-sm"></i></div>
                                <p class="small mr-3">Shopping Cart</p>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="d-flex flex-column align-items-center text-center text-white px-2 px-lg-2 my-2">
            <div>
                <h1 class="display-4 logo-font text-white mb-5">ASTRO&nbsp;SHOP</h1>
            </div>
            <div class="category-links d-flex flex-wrap justify-content-center mb-2 me-5" style="font-size:x-large;">
                <a href="{% url 'category' 'Sales' %}" class="py-1 mx-2">

                    <span class="fa-regular fa-star"></span>
                    <strong style="font-size: xx-large;">Sale!</strong>
                    <span class="fa-regular fa-star"></span>

                </a>
                <a href="{% url 'category' 'Books' %}" class="py-2 mx-2">
                    Books
                </a>
                <a href="{% url 'category' 'Toys' %}" class="py-2 mx-2">
                    Toys
                </a>
                <a href="{% url 'category' 'Telescopes' %}" class="py-2 mx-2">
                    Telescopes
                </a>
                <a href="{% url 'category' 'Globes' %}" class="py-2 mx-2">
                    Globes
                </a>
                <a href="{% url 'category' 'Binoculars' %}" class="py-2 mx-2">
                    Binoculars
                </a>
                <a href="{% url 'category' 'Weather Stations' %}" class="py-2 mx-2">
                    Weather Stations
                </a>
                <a href="{% url 'products' %}" class="py-2 mx-2">
                    All Products
                </a>
            </div>
        </div>
    </header>


    <div class="astroshop-image">
        <img src="https://res.cloudinary.com/dtbji5cfz/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1732211978/image_shop_uuurk0.webp"
            class="img-fluid rounded-0" alt="this is our store ...">
        <div class="image-text-overlay rounded-0">
            <p>Welcome to the Astroshop website. In our Astroshop, you'll find the largest range of
                astronomical products in Belgium at very favorable prices.</p>
            <br>
            <p><strong>Opening Hours:</strong> Tuesday and Friday from 19:30 to 22:00, and Wednesday from
                14:00
                to 16:00.</p>
            <br>
            <p>Visits to the Astroshop are by appointment during opening hours, or at another time by
                contacting
                us at GSM 0999/99.55.99</p>
        </div>
    </div>


    <div class="my-5 d-flex justify-content-center">
        <a href="{% url 'products' %}"
            class="shop-now-button btn btn-outline-dark btn-lg rounded-0 text-uppercase py-3 text-center"
            style="font-size: xx-large; width: 350px;">
            SHOP&nbsp;NOW
        </a>
    </div>

    <div class="d-flex flex-wrap justify-content-center align-items-center my-5">
        <div class="image-container flex-fill m-2" style="flex: 1 1 22%; max-width: 22%;">
            <img src="https://res.cloudinary.com/dtbji5cfz/image/upload/v1732212725/baader_bkifdw.webp" alt="baader"
                class="img-fluid mx-auto d-block rounded">
        </div>
        <div class="image-container flex-fill m-2" style="flex: 1 1 22%; max-width: 22%;">
            <img src="https://res.cloudinary.com/dtbji5cfz/image/upload/v1732211977/bresser_j3notr.webp" alt="bresser"
                class="img-fluid mx-auto d-block rounded">
        </div>
        <div class="image-container flex-fill m-2" style="flex: 1 1 22%; max-width: 22%;">
            <img src="https://res.cloudinary.com/dtbji5cfz/image/upload/v1732211977/omegon_yzisbe.webp" alt="omegon"
                class="img-fluid mx-auto d-block rounded">
        </div>
        <div class="image-container flex-fill m-2" style="flex: 1 1 22%; max-width: 22%;">
            <img src="https://res.cloudinary.com/dtbji5cfz/image/upload/v1732211977/ts-optics_x5kosb.webp"
                alt="ts-optics" class="img-fluid mx-auto d-block rounded">
        </div>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center mb-2">
        <label for="id_email" class="font-weight-bold text-center mb-2">Subscribe to our Newsletter</label>
        <form method="POST" action="{% url 'subscribe' %}" class="d-flex align-items-center justify-content-center">
            {% csrf_token %}
            <input type="email" class="form-control mx-2" id="id_email" name="email" placeholder="name@example.com"
                required style="max-width: 300px;">
            <button type="submit" value="Submit" class="btn-sm btn-light" title="Subscribe">
                <span>Subscribe</span>
            </button>
        </form>
    </div>

    <footer class="py-1 bg-dark d-flex flex-column align-items-center justify-content-center">       
        <div class="container text-white p-2" style="font-size: small">
            <div class="row no-gutters">
                <div class="col-md-4 mb-2">
                    <div class="ml-2">
                        <h5><strong>Astroshop.com</strong></h5>
                        <p><i class="fa-solid fa-phone"></i> &nbsp;0499 99 11 99</p>
                        <p><i class="fa-solid fa-envelope"></i> &nbsp;info@astroshop.com</p>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="ml-2">
                        <h6><strong>Client&nbsp;Service</strong></h6>
                        <a href="{% url 'about' %}" class="nav-link-index text-white "
                            style="font-size: small">About</a><br>
                        <a href="{% url 'general_conditions' %}" class="nav-link-index text-white"
                            style="font-size: small">General
                            conditions</a><br>
                        <a href="{% url 'disclaimer' %}" class="nav-link-index text-white"
                            style="font-size: small">Disclaimer</a><br>
                        <a href="{% url 'privacy' %}" class="nav-link-index text-white" style="font-size: small">Privacy
                            Policy</a><br>
                        <a href="{% url 'payment' %}" class="nav-link-index text-white"
                            style="font-size: small">Payment</a><br>
                    </div>
                </div>             

                <div class="col-md-4 mb-2">
                    <div class="ml-2">
                        <h6><strong>User&nbsp;Account</strong></h6>
                        <a href="{% url 'shopcart_summary' %}" class="nav-link-index text-white"
                            style="font-size: small">Shopping
                            Cart</a><br>
                        <a href="{% url 'login' %}" class="nav-link-index text-white"
                            style="font-size: small">Login</a><br>

                        <a href="{% url 'register' %}" class="nav-link-index text-white"
                            style="font-size: small">Register</a><br>
                    </div>
                </div>
            </div>
        </div>      

        <ul class="nav col-md-4 justify-content-md-between list-unstyled d-flex mb-2">
            <li class="ms-4">
                <a href="https://x.com/?lang=en" aria-label="Twitter" target="_blank" rel="noopener nofollow">
                    <i class="fab fa-twitter fa-2x p-2 icon-white nav-link-index" style="text-decoration: none;"></i>
                </a>
            </li>
            <li class="ms-4">
                <a href="https://www.instagram.com/" aria-label="Instagram" target="_blank" rel="noopener nofollow">
                    <i class="fab fa-instagram fa-2x p-2 icon-white nav-link-index" style="text-decoration: none;"></i>
                </a>
            </li>
            <li class="ms-4">
                <a href="https://www.facebook.com/" aria-label="Facebook" target="_blank" rel="noopener nofollow">
                    <i class="fab fa-facebook fa-2x p-2 icon-white nav-link-index" style="text-decoration: none;"></i>
                </a>
            </li>
            <li class="ms-4">
                <a href="https://codeinstitute.net/global/" aria-label="Website" target="_blank"
                    rel="noopener nofollow">
                    <i class="fa-solid fa-globe fa-2x p-2 icon-white nav-link-index" style="text-decoration: none;"></i>
                </a>
            </li>
        </ul>
        </div>
    </footer>
</body>

</html>