{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <br>
            <h1 class="display-4 fw-bolder mt-5">Product Details</Details></h1>          
            <p class="lead fw-normal text-white-40 mb-2">Details ...</p>
        </div>
    </div>
</header>

<!-- Item card -->
<div class="container d-flex justify-content-center align-items-center mt-3 mb-3" style="min-height: calc(48vh);">
    <div class="col shadow-lg" style="width: 100%; max-width: 1600px;">
        {% if product.category %}
        <p class="large mt-1 mb-0 ml-4">
            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                <i class="fas fa-tag mr-1"></i>{{ product.category.name }}
            </a>
        </p>
        {% endif %}
        <div class="d-flex flex-column flex-md-row align-items-center mt-3">
            <div class="flex-shrink-0 mb-3 mb-md-0" style="width: 30%;">
                <img src="{{ product.image.url }}" class="img-fluid rounded-0 product-image"
                                alt="{{ product.name }}" style="max-width: 200px; height: auto;">
                <!-- Product price or sale price -->
                <div class="text-center mt-3">
                    {% if product.is_sale %}
                    <div class="text-muted" style="text-decoration: line-through;">€{{ product.price }}</div>
                    <strong class="text-black" style="font-size: 1.5rem;">€{{ product.sale_price }}</strong>
                    {% else %}
                    <strong class="text-black" style="font-size: 2rem;">€{{ product.price }}</strong>
                    {% endif %}
                </div>
            </div>
            <div class="text-md-left ml-md-5" style="width: 70%;">
                <div class="card-body">
                    <h5 class="product-name card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    {% if product.is_sale %}
                    <div class="d-flex justify-content-center justify-content-md-start small text-danger mb-2">
                        <span class="fa-regular fa-star"></span>
                        <strong class="mx-2" style="font-size: 1.25rem;">Sale!</strong>
                        <span class="fa-regular fa-star"></span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
        <!-- Price tag -->
        <div class="container d-flex justify-content-end align-items-center mt-3">
            <div class="d-flex justify-content-around align-items-center py-3">
                <!-- Quantity selector -->
                <div class="text-center mr-5">
                    <label for="qty-cart" class="mb-1">Quantity:</label>
                    <select class="form-select form-select-sm" id="qty-cart" aria-label="Select quantity">
                        {% for i in "12345" %}
                        <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Centered buttons -->
                <div class="text-center">
                    <button type="button" value="{{ product.id }}" class="btn btn-secondary mt-2 mb-2 mr-4" id="add-cart">
                        Add To Cart
                    </button>
                    {% if user.is_superuser %}
                    <a href="{% url 'delete_product_confirmation' product.id %}" class="btn btn-danger mt-2 mb-2 mr-4">
                        Delete Product
                    </a>
                    <a href="{% url 'update_product' product.id %}" class="btn btn-warning mt-2 mb-2">
                        Edit Product
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Check if button pressed
    $(document).on('click', '#add-cart', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'shopcart_add' %}",
            data: {
                product_id: $('#add-cart').val(),
                product_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function (json) {
                document.getElementById("cart_quantity").textContent = json.qty
                location.reload();
            },
            error: function (xhr, errmsg, err) {
                // Handle error
            }
        });
    }) 
</script>
{% endblock %}