{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <br>
            <h1 class="display-4 fw-bolder mt-5">Product Update</h1>          
            <p class="lead fw-normal text-white-40 mb-2">Update your product here ...</p>
        </div>
    </div>
</header>

<div class="container">
    <h2>Update Product</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'product' product.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}