{% extends 'base.html' %}
{% block title %}Subscription Confirmed{% endblock %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <br>
            <h1 class="display-4 fw-bolder mt-5">Subscription Confirmed!</h1>
            <p class="lead fw-normal text-white-40 mb-2">Thank you for subscribing.</p>
        </div>
    </div>
</header>

<div class="container d-flex justify-content-center align-items-center" style="min-height: calc(60vh);">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="p-5 text-center shadow-lg" style="width: 100%; max-width: 400px;">
            <h1 class="mb-4">Thank You</h1>
            <p class="mb-4"><strong>Your subscription has been confirmed!</strong></p>
            <strong><a href="/" class="btn btn-secondary">Return to homepage</a></strong>
        </div>
    </div>
</div>

{% endblock %}