{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder mt-5">Privacy Policy</h1>
            <p class="lead fw-normal text-white-40 mb-2">Home / Privacy Policy</p>
        </div>
    </div>
</header>

<div class="container d-flex justify-content-center align-items-center mt-3 mb-3" style="min-height: calc(60vh);">
    <div class="card shadow-lg rounded-0 mb-3 p-3" style="width: 700px;">

        <h2 class="text-center mb-3"><strong>Privacy Policy for Astro Shop Services</strong></h2>
        <p>Owner of <strong>www.astroschop.be</strong></p>

        <h4 class="mt-3"><strong>1. Privacy Assurance:</strong></h4>
        <p>
            Safeguarding the privacy of visitors to www.astroshop.be is an important task for Astro Shop Services. 
            Therefore, this privacy policy describes the information we collect and how we use it.
        </p>

        <h4 class="mt-3"><strong>2. Consent:</strong></h4>
        <p>
            By using the information and services on www.astroshop.be, you agree to this privacy policy and the terms contained within it.
        </p>

        <h4 class="mt-3"><strong>3. Questions:</strong></h4>
        <p>
            If you wish to receive more information or have questions about the privacy policy of Astro Shop Services or specifically about www.astroshop.be, you can contact Astro Shop via email at <a href="mailto:filip@vanelslande.com">info@astroshop.be</a>.
        </p>

        <h4 class="mt-3"><strong>4. Information:</strong></h4>
        <p>
            The information that Astro Shop collects from users of the website www.astroshop.be is limited to name, address, email address, and phone number.
        </p>

        <h4 class="mt-3"><strong>5. Use of Information:</strong></h4>
        <p>
            Astro Shop Services commits to using the information provided by users of the website www.astroshop.be solely for the purpose of selling products offered by Astro Shop Services. This information will not be used for promotional or other purposes.
        </p>

        <h4 class="mt-3"><strong>6. Monitoring Visitor Behavior:</strong></h4>
        <p>
            www.astroshop.be places cookies on visitors devices. The purpose is to collect information about the pages that users visit on the website, track how often visitors return, and analyze which pages perform well.
        </p>

        <h4 class="mt-3"><strong>7. Use of Cookies:</strong></h4>
        <p>
            www.astroshop.be places cookies on visitors devices. The purpose is to collect information about the pages that users visit on the website, track how often visitors return, and analyze which pages perform well.
        </p>

        <h4 class="mt-3"><strong>8. Disabling Cookies:</strong></h4>
        <p>
            You can choose to disable cookies by using the settings of your browser. More information about these options can be found on the website of your browser provider.
        </p>

        <h4 class="mt-3"><strong>9. Third-Party Cookies:</strong></h4>
        <p>
            It is possible that third parties, such as Google, advertise on our website or that we use another service. In some cases, these third parties place cookies. These cookies are beyond the control of Astro Shop Services or www.astroshop.be.
        </p>

        <h4 class="mt-3"><strong>10. Privacy Policy of Advertisers/Third Parties:</strong></h4>
        <p>
            For more information about the privacy policies of our advertisers and third parties linked to this website, you can visit the websites of these respective parties. Astro Shop Services or www.astroshop.be cannot influence these cookies or the privacy policies of cookies placed by third parties. These cookies fall outside the scope of the privacy policy of www.astroshop.be.
        </p>

        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'home' %}" class="btn btn-secondary">Back To Home</a>
        </div>
    </div>
</div>

{% endblock %}
