{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <br>
            <h1 class="display-4 fw-bolder mt-5">Add New Product</h1>
            <p class="lead fw-normal text-white-40 mb-2">Administrator Update Page</p>
        </div>
    </div>
</header>

<div class="container">
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete the supplier <strong>{{ supplier.supplier_company_name }}</strong>?</p>
    <form method="POST" action="{% url 'supplier_delete' supplier.id %}">
        {% csrf_token %}
        <button type="submit" class="confirm">Yes, Delete</button>
    </form>
    <a href="{% url 'suppliers_list' %}">
        <button type="button" class="cancel">No, Cancel</button>
    </a>
</div>
{% endblock %}