{% extends 'base.html' %}
{% block content %}


<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <br>
            <h1 class="display-4 fw-bolder mt-5">No Orders Found</h1>          
            <p class="lead fw-normal text-white-40 mb-2">Orderbook is Empty</p>
        </div>
    </div>
</header>

<div class="container d-flex justify-content-center align-items-center mt-3 mb-3" style="min-height: calc(45vh);">
    <div class="card shadow-lg justify-content-center align-items-center rounded-0 mb-3 p-3" style="width: 500px;">
        
        <!-- <p class="text-center"><strong>About Us</strong></p> -->
        <p>It looks like you don't have any orders yet.</p>
        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'products' %}" class="btn btn-secondary">Back To Products</a>
        </div>
    </div>
</div>

{% endblock %}