{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder mt-5">Orders</h1>
            <p class="lead fw-normal text-white-40 mb-2">All Orders</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        {% for order in orders %}
        <div class="col-lg-4 col-lg-6 col-sm-12 text-center">
            <div class="mt-3">
                <div class="card mb-3">
                    <div class="card-header text-center">
                        {% if request.user.is_superuser %}
                        <form method="POST" action="{% url 'order_delete_confirmation' order.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm"
                                style="float: left; margin-right: 10px;">Delete Order</button>                            
                        </form>
                        {% endif %}
                        Order #{{ order.id }} - <strong>€{{ order.amount_paid }}</strong>
                    </div>
                    <div class="card-body">
                        <!-- Combined Table for Order Details and Shipping Information -->
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="table-dark">
                                    <tr>
                                        <th colspan="2" class="text-center">Order Details & Shipping Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row no-gutters">Date</th>
                                        <td>
                                            {% if order.date_shipped %}
                                            <strong>Date Shipped:</strong> {{ order.date_shipped }}
                                            {% else %}
                                            <strong>Date Ordered:</strong> {{ order.date_ordered }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row no-gutters">Email</th>
                                        <td>{{ order.email }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row no-gutters">Name</th>
                                        <td>{{ order.full_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row no-gutters">Address</th>
                                        <td>{{ order.shipping_address }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Order Items Table -->
                        <h5 class="mt-4">Order Items</h5>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.orderitem_set.all %}
                                    <tr>
                                        <td>{{ item.product }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>€{{ item.price }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <!-- Actions -->
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            <div class="d-flex justify-content-around mt-4">
                                {% if request.user.is_superuser %}
                                {% if not order.shipped %}

                                <input type="hidden" name="shipping_status" value="true">
                                <button type="submit" class="btn btn-success btn-sm">Mark As Shipped</button>
                                {% else %}
                                <input type="hidden" name="shipping_status" value="false">
                                <button type="submit" class="btn btn-danger btn-sm">Mark As Not Shipped</button>
                                {% endif %}
                                {% endif %}
                                <a href="{% url 'products' %}" class="btn btn-secondary btn-sm mr-2 ml-2">Back To
                                    Products</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}